* {
    margin: 0px;
    padding: 0px;
}

#top {
    height: 70px;
    background-color: grey;
    display: flex;
    justify-content: center;
}

#top_center {
    height: auto;
    width: 700px;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
}

#top_center_left {
    height: auto;
    width: 80%;
    background-color: lightblue;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-items: space-between;
}

#top_options {
    display: flex;
    list-style-type: none;
    margin: 20px;
}

li {
    margin: 10px;
}

#top_center_right {
    height: auto;
    width: 20%;
    background-color: black;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#signout {
    border-radius: 3px;
    background-color: cyan;
    padding: 3px 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

#bottom {
    height: 1000px;
    background-color: red;
    display: flex;
    justify-content: center;
}

#bottom_center {
    width: 700px;
    background-color: orange;
    display: flex;
}

#bottom_center_left {
    width: 65%;
    height: auto;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

#info {
    width: auto;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

#info_top {
    width: 100%;
    height: 70px;
    background-color: cyan;
}

#user_circle {
    height: 70px;
    width: 70px;
    background-color: green;
    border-radius: 50%;
    padding: 6px;
    position: relative;
    top: 23px;
    left: 50px;
    border: 5px solid grey;
}

#info_bottom {
    width: 100%;
    height: 200px;
    background-color: white;
}

#info_bottom_text {
    margin: 50px 0px 0px 50px;
    color: black;
}

#info_bottom_text_loc {
    height: auto;
    color: black;
    display: flex;
    align-items: center;
    background-color: white;
}

#pointer {
    margin: 0px 10px 0px 0px;
    height: 20px;
}

#edit{
    height: 25px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#gearboy{
    width: auto;
    height: auto;
    margin: 0px 10px 0px 0px;
}

#edit_profile{
    color: rgb(43,120,228);
}

#edu {
    width: auto;
    height: 300px;
    background-color: green;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

#edu_top {
    width: 100%;
    height: 70px;
    background-color: grey;
}

#edu_bottom {
    width: 100%;
    height: 100%;
    background-color: black;
}

#bottom_center_right {
    width: 35%;
    height: auto;
    background-color: purple;
    display: flex;
    flex-direction: column;
}

#connection_requests {
    width: auto;
    height: 200px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

#connection_requests_top {
    width: 100%;
    height: 70px;
    background-color: grey;
}

#connection_requests_bottom {
    width: 100%;
    height: 100%;
    background-color: black;
}

#your_connections {
    width: auto;
    height: 200px;
    background-color: green;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

#your_connections_top {
    width: 100%;
    height: 70px;
    background-color: grey;
}
#your_connections_bottom {
    width: 100%;
    height: 100%;
    background-color: black;
}

h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
h3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: smaller;
}
