* {
    margin: 0px;
    padding: 0px;
}

#top {
    height: 70px;
    background-color: grey;
    display: flex;
    justify-content: center;
}

#top_center {
    height: auto;
    width: 700px;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
}

#top_center_left {
    height: auto;
    width: 80%;
    background-color: lightblue;
    margin: 10px 10px;
}

#top_center_right {
    height: auto;
    width: 20%;
    background-color: black;
    margin: 10px 10px;
}

#bottom {
    height: 1000px;
    background-color: red;
    display: flex;
    justify-content: center;
}

#bottom_center {
    width: 700px;
    background-color: orange;
    display: flex;
}

#bottom_center_left {
    width: 65%;
    height: auto;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

#info {
    width: auto;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

#info_top {
    width: 100%;
    height: 70px;
    background-color: cyan;
}

#info_bottom {
    width: 100%;
    height: 200px;
    background-color: black;
}

#edu {
    width: auto;
    height: 300px;
    background-color: green;
    display: flex;
    flex-direction: column;
    margin: 10px 10px
}

#edu_top {
    width: 100%;
    height: 70px;
    background-color: grey;
}

#edu_bottom {
    width: 100%;
    height: 100%;
    background-color: black;
}

#bottom_center_right {
    width: 35%;
    height: auto;
    background-color: purple;
    display: flex;
    flex-direction: column;
}

#connection_requests {
    width: auto;
    height: 200px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

#connection_requests_top {
    width: 100%;
    height: 70px;
    background-color: grey;
}

#connection_requests_bottom {
    width: 100%;
    height: 100%;
    background-color: black;
}

#your_connections {
    width: auto;
    height: 200px;
    background-color: green;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

#your_connections_top {
    width: 100%;
    height: 70px;
    background-color: grey;
}
#your_connections_bottom {
    width: 100%;
    height: 100%;
    background-color: black;
}
